/* .hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: calc(100% + 80px);
    background-image: url('../../assets/background1.jpg');
    background-size: cover;
    opacity: 0.07;
} */