#large .skill-card{
    width: 276px;
    height: 276px;
    background-color: #252947;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#large .skill-card img{
    width: 80px;
    margin: 0 auto;
}

#large .skill-card h4{
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(243 244 246);
}

/* styles for smaller device */

#small .skill-card{
    width: full;
    height: 180px;
    background-color: #252947;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#small .skill-card img{
    width: 60px;
    margin: 0 auto;
}

#small .skill-card h4{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(243 244 246);
}