/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #374151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f54ef;
  border-radius: 10px;
}

.default {
  @apply font-medium md:mx-5 py-2 block text-gray-100 hover:text-purple-600 transition cursor-pointer;
}

.active {
  @apply font-medium md:mx-5 py-2 block text-purple-500 cursor-pointer;
}

.poppins-font{
  font-family: 'Poppins', sans-serif;
}